section#footer
    .container
        .container
            .row
                .col-md-3.col-sm-6.col-xs-12
                .col-md-3.col-sm-6.col-xs-12
    a.btn.btn-primary.back-to-top(href="#home")
        i.mdi-hardware-keyboard-arrow-up
        .ripple-wrapper

section#copyright
    .container
        .row
            .col-md-12
            p.copyright-text © jucca 2015
  include ../linker/public/scripts
//include ../includes/addThis
//include ../includes/fbRoot
//include ../includes/GA