.content-wrap
    header.hero-area#home
        .container
            .col-md-12
                .navbar.navbar-inverse.sticky-navigation.navbar-fixed-top.affix-top(role='navigation', data-spy='affix', data-offset-top='200')
                    .container
                        .navbar-header
                            a.logo-left(href='/') TEAM JUKKA
                
                        .navbar-right
                             button.menu-icon#open-button
                                i.mdi-navigation-menu
        .contents.text-right
            h1(class='wow fadeInRight', data-wow-duration='1000ms', data-wow-delay='300ms') TEAM JUKKA
            p(class='wow fadeInRight', data-wow-duration='1000ms', data-wow-delay='400ms') This is what we do!

        
        include topAds
