div.navbar.navbar-invers.menu-wrap
  div.navbar-header.text-center
        a.navbar-brand.logo-right(href='javascript:void(0)'): Valikko
          ul.nav.navbar-nav.main-navigation
            li: a.nav-link(href='/category/news') Jutut
            li: a.nav-link(href='/category/columns') Havainnot
            li: a.nav-link(href='/picture') Kuvat
            li: a.nav-link(href='/video') Videot
            li: a.nav-link(href='/tag') Tagit
        button.close-button#close-button Close Menu

