// This file is included in the .gitignore file.

// SCRIPTS
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/fastclick/lib/fastclick.js")
script(src="/bower_components/history.js/scripts/bundled/html4+html5/jquery.history.js")
script(src="/public/js/ads.js")
script(src="/public/js/bootstrap.min.js")
script(src="/public/js/classie.js")
script(src="/public/js/count-to.js")
script(src="/public/js/countComments.js")
script(src="/public/js/infiniteScroll.js")
script(src="/public/js/initFastclick.js")
script(src="/public/js/jquery-2.1.4.min.js")
script(src="/public/js/jquery.inview.min.js")
script(src="/public/js/jquery.mmenu.min.all.js")
script(src="/public/js/jquery.nav.js")
script(src="/public/js/main.js")
script(src="/public/js/material.js")
script(src="/public/js/material.min.js")
script(src="/public/js/mobileNav.js")
script(src="/public/js/nav.js")
script(src="/public/js/ripples.js")
script(src="/public/js/ripples.min.js")
script(src="/public/js/smooth-on-scroll.js")
script(src="/public/js/smooth-scroll.js")
script(src="/public/js/wow.js")
// SCRIPTS END