// STYLES
link(rel="stylesheet", href="/public/styles/animate.min.css")
link(rel="stylesheet", href="/public/styles/bootstrap.min.css")
link(rel="stylesheet", href="/public/styles/jquery.mmenu.all.css")
link(rel="stylesheet", href="/public/styles/jquery.mmenu.css")
link(rel="stylesheet", href="/public/styles/main.css")
link(rel="stylesheet", href="/public/styles/material-fullpalette.css")
link(rel="stylesheet", href="/public/styles/material-fullpalette.min.css")
link(rel="stylesheet", href="/public/styles/material.css")
link(rel="stylesheet", href="/public/styles/material.min.css")
link(rel="stylesheet", href="/public/styles/responsive.css")
link(rel="stylesheet", href="/public/styles/ripples.css")
link(rel="stylesheet", href="/public/styles/ripples.min.css")
link(rel="stylesheet", href="/public/styles/roboto.css")
link(rel="stylesheet", href="/public/styles/roboto.min.css")
// STYLES END
