if !req.param('noLayout')
  include includes/head.jade

////////////////////////////////

#stage
  .row

    h1 Mitä on kyse?

    p: Jos olet päätynyt tänne asti ja lukenut jopa näin pitkälle, kyseessä on yksinkertaisesti vitsi.


    h1 Siis täh?!?

    h3.subheader Tarkennappa nyt vähän

    p: em.
      Kyseessä on tuttavista ja kylänmiehistä muodostuvan mutajuoksujoukkueen nettisivut.
      Joukkue koluaa vuodessa erinäisen määrän liikuntatapahtumia, kuten Tough viking, Military run. You name it, we are there.
      Hommaa tehdään kieliposkella ja pilke silmäkulmassa. Siitä huolimatta jokainen tapahtuma kuvataan ja ladataan muistoksi näille sivuille. Toisin sanoen tämä on tapa motivoida pientä joukkoa valitsemaan lenkkitossut villasukkien sijaan, kun ulkona sataa räntää.

////////////////////////////////

if !req.param('noLayout')
  include includes/footer.jade