doctype html
html
  head
    title Team Jukka | Moderointi

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel="stylesheet", href="/bower_components/foundation/css/foundation.css")

    style.
      body {
        margin-top: 30px;
      }

  body
    .row
      .small-10.medium-8.large-6.small-centered.columns

        if !req.param('token')
          h1 hups...
          h4.subheader Nyt kaikki ei ole kohdallaan
          p.
            Ṕyydän jonkun lähettämään kutsu uudelleen. Pahoittelut tapahtuneesta ja eteenkin sen aiheuttamasta mielipahasta!

        else

          h1 Olet nyt osa Team Jukkaa
          h4.subheader Aloitetaan...
          br

          form(method='POST', action='/user')
            input(type='hidden', name='token', value=req.param('token'))
            .row
              .medium-6.columns
                input(type='text', placeholder='Nimi', name='name', required)
              .medium-6.columns
                input(type='text', placeholder='Nimimerkki', name='pseudonym', required)
            .row
              .medium-12.end.columns
                input(type='email', placeholder='Sähköpostiosoite', name='email', required)
            .row
              .medium-12.end.columns
                input(type='text', placeholder='Tagline', name='tagline', required)
            .row
              .medium-6.columns

                - var err = req.flash('passMismatch')
                if err.length > 0
                  .alert-box.alert= err

                input(type='password', placeholder='Salasana', name='password', required)
                input(type='password', placeholder='Uudelleen', name='passwordConf', required)
              .medium-6.end.columns
                button.expand(type='submit') LET'S GO
