<div class="row container">
  <div class="medium-4 columns scrollable container"
       ng-class='isEditing ? "collapse" : "medium-4"'
       infinite-scroll="getArticles()">

    <ul class="index">

      <li>
        <a ui-sref=".new()">
          <span class="fa fa-plus"></span>
          New Article
        </a>
      </li>

      <hr>

      <li>
        <input  type="text"
                placeholder="Search..."
                ng-model="searchText"
                ng-change="getArticles(true)">
      </li>

      <li ng-repeat="_article in articles | orderBy: '-createdAt'">
        <a ng-class="{ active: _article.slug === article.slug }"
           ui-sref=".show({ articleID: _article.slug })">
           {{ _article.title }}
           <small>{{ _article.author.name }}</small>
         </a>
      </li>

    </ul>

  </div>

  <div ui-view class="columns scrollable container" ng-class='isEditing ? "medium-12" : "medium-8"'></div>
</div>