// This file is included in the .gitignore file.

// SCRIPTS
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/angular/angular.js")
script(src="/bower_components/angular-route/angular-route.js")
script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
script(src="/bower_components/angular-animate/angular-animate.js")
script(src="/bower_components/angular-sanitize/angular-sanitize.js")
script(src="/bower_components/angular-elastic/elastic.js")
script(src="/bower_components/angularjs-toaster/toaster.js")
script(src="/bower_components/lodash/dist/lodash.js")
script(src="/bower_components/angular-foundation/mm-foundation-tpls.js")
script(src="/bower_components/marked/lib/marked.js")
script(src="/bower_components/angular-marked/angular-marked.js")
script(src="/bower_components/ng-context-menu/dist/ng-context-menu.js")
script(src="/bower_components/ng-file-upload/angular-file-upload.js")
script(src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js")
script(src="/bower_components/moment/moment.js")
script(src="/bower_components/angular-moment/angular-moment.js")
script(src="/admin/js/app.js")
script(src="/admin/js/config/routes.js")
script(src="/admin/js/controllers/adCtrl.js")
script(src="/admin/js/controllers/articleCtrl.js")
script(src="/admin/js/controllers/mailCtrl.js")
script(src="/admin/js/controllers/navCtrl.js")
script(src="/admin/js/controllers/pictureCtrl.js")
script(src="/admin/js/controllers/profileCtrl.js")
script(src="/admin/js/controllers/signupCtrl.js")
script(src="/admin/js/controllers/userCtrl.js")
script(src="/admin/js/controllers/videoCtrl.js")
script(src="/admin/js/directives/inputMatch.js")
script(src="/admin/js/directives/previewArticle.js")
script(src="/admin/js/services/emailCounts.js")
script(src="/admin/js/showdown.js")
// SCRIPTS END