<div class="row">
  <img class="headline" ng-src="{{ picture.image.full }}" alt="">
  
  <h2>{{ picture.title }}</h2>

  <div class="row">
    <div class="small-8 columns">
      <h6 class="subheader">{{ picture.curator.name }}</h6>
    </div>
    
    <div class="small-4 columns">
      <small>
        <a ui-sref="picture.edit({ pictureID: picture.slug })" class="button tiny">EDIT</a>
        <button ng-click="delete()" class="tiny alert">DELETE</button>
      </small>
    </div>
  </div>
</div>